body {
    background: rgb(148, 217, 233);
    background: linear-gradient(0deg, rgba(148, 217, 233, 1) 0%, rgba(238, 174, 174, 1) 100%);
    align-content: center;
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.icon {
    margin-bottom: 2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    color: #160424;
}

.icon:hover {
    color: #066b64;
}

#profPic {
    width: 100%;
}